<div id="main-con">
    <div id="top-con">
        <h1>{{title}}</h1>
        <div id="filters">
            <app-video-filter *ngFor="let e of filters" [ngClass]="{'selected': e.isSelected}" [filter]="e"
                [onSelect]="handleFilterSelect" [isSelected]="e.isSelected"></app-video-filter>
        </div>
    </div>
    <div id="div-con">
        <div id="divider"></div>
    </div>
    <p class="text-mobile">
        Hi! I am Naama, a 3D Character Animator,<br>
        Motion Designer and Video Editor,<br>
        a Graduate of Bezalel Academy<br>
        of Arts and Design in 2021.<br>
        I love making beautiful Visuals and making stories come alive.
    </p>
    <div id="about-con">
        <p>{{"Hi! I am Naama, 3D Character Animator, Motion Designer and Video Editor,"}} </p>
        <p>{{"a Graduate of Bezalel Academy of Arts and Design in 2021."}} </p>
        <p> {{"I love making beautiful Visuals and making stories come alive. "}} </p>
    </div>
</div>