// Desktop
@media screen and (min-width: 1024px) {
    :host {
        position: relative;
        display: block;
        height: 100px;
        width: 100%;
        background-color: #F1F1F1;
    }

    h1 {
        margin: 0;
        padding: 0;
        height: fit-content;
        width: fit-content;
        position: absolute;
        left: 20px;
        top: 50%;
        transform: translateY(-50%);
        font-size: large;
    }

    #filters {
        position: absolute;
        right: 20px;

        top: 50%;
        transform: translateY(-50%);

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

    }
}

// Mobile
@media screen and (max-width: 1024px) {
    :host {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: center;
        // height: 100px;
        width: 100%;
        background-color: #F1F1F1;
    }

    #title-con {
        display: flex;
        justify-content: center;
        align-self: center;
    }

    h1 {
        margin: 0;
        margin-top: 30px;
        margin-bottom: 20px;
        padding: 0;

    }

    #filters {
        margin-bottom: 20px;
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-self: center;
        gap: 10px;
    }


    @media screen and (orientation:landscape) {
        :host {
            display: none;
        }
    }
}