// Desktop
// @media screen and (min-width: 1024px) {
:host {
    display: block;
    width: 100%;
    height: fit-content;
    background-color: #F1F1F1;
}

#main-con {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#top-con {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    margin-top: 20px;
    height: fit-content;
}

.text-mobile {
    display: none;
}

#about-con {
    width: 100%;
    gap: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 40px;
}

p {
    text-align: center;
    font-size: large;
    margin: 0;
    padding: 0;
}

h1 {
    font-weight: 100;
    font-size: larger;
    padding-left: 40px;
}

#filters {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

#div-con {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;

}

#divider {
    width: 50%;
    height: 1px;
    background: #0000004d;
    margin: 20px 20px;
    border-radius: 100%;
}

// Mobile
@media screen and (max-width: 1024px) {
    #top-con {
        flex-direction: column;
        height: fit-content;
    }

    #about-con {
        display: none;
    }

    .text-mobile {
        display: block;
        font-size: medium;
        line-height: 24px;
        padding-bottom: 20px;
    }

    h1 {
        padding-left: 0;
    }

    #filters {
        flex-direction: row;
    }

    @media screen and (orientation:landscape) {
        :host {
            display: none;
        }
    }
}