:host {
    cursor: pointer;
}

fa-icon {
    font-size: 30px;
    background-color: var(--secondary);
    color: var(--text-light);

    display: flex;
    justify-content: center;
    align-items: center;

    height: 46px;
    aspect-ratio: 1;

    border-radius: 50%;
}