:host {
    cursor: pointer;
}

img {
    position: relative;
    display: block;
    transition: all 0.2s ease-in-out;
}

:host::after {
    transition: all .2s ease-in-out;
    opacity: 0;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
}

:host:hover::after {
    opacity: 1;
}

img:hover {
    scale: 1.1;
}

:host:hover h4 {
    opacity: 1; // Adjust the opacity value as needed
}

// Desktop
@media screen and (min-width: 1024px) {
    :host {
        height: 200px;
        aspect-ratio: 1;

        position: relative;

        overflow: hidden;
    }

    img {
        width: 100%;
        aspect-ratio: 1;
        object-fit: cover;
    }

    h4 {
        display: block;

        z-index: 100;
        color: white;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 40px;
        aspect-ratio: 1;
        white-space: nowrap;

        // width: 100%;
        // margin: 0;
        // padding: 8px 10px;
    }
}

// Mobile
@media screen and (max-width: 1024px) {
    :host {
        margin: 10px;
        display: block;
        background-color: var(--secondary);
        width: 80vw;
    }

    img {
        object-fit: cover;
        width: 80vw;
        aspect-ratio: 16/9;
    }

    h4 {
        margin: 4px 8px;
    }
}