app-video-preview {
    transition: outline 0.2s ease-in-out;
    outline: 0px solid var(--active);
}

app-video-preview.selected {
    outline: 4px solid var(--active);
}


// On Desktop
@media screen and (min-width: 1024px) {
    :host {
        width: 100%;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 10px;
        grid-auto-rows: minmax(100px, auto);

    }

    .center {
        display: flex;
        justify-content: center;
        gap: 100px;
        align-items: center;
    }

    #gallery {



        height: 50svh;
        margin: 40px;
    }

}



// On Mobile
@media screen and (max-width: 1024px) {
    :host {
        width: 100%;
        margin: 20px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    @media screen and (orientation:landscape) {
        :host {
            display: none;
        }
    }

    #gallery {
        display: flex;
        gap: 20px;
        white-space: nowrap;

        width: 100%;
        margin: 10px;
        white-space: nowrap;

        overflow-x: auto;
        overflow-y: hidden;
    }
}