#yoavrabby>p {
    color: grey;
}

#yoavrabby>p>a {
    color: darkblue;
}

#yoavrabby {
    direction: ltr;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
}