:host {
    display: flex;
    justify-content: center;
    align-items: center;

    // background-color: var(--secondary);

    border-radius: 20px;
    margin: 8px;
    padding: 0 10px;

    cursor: pointer;
}

h4 {
    padding: 0;
    margin: 0;
}