@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@400;700&display=swap');


:root {
    --text: hsl(12, 20%, 5%);
    --text-light: hsl(0, 0%, 20%);
    --background: hsl(20, 18%, 97%);
    --primary: hsl(17, 25%, 53%);
    --secondary: hsl(16, 28%, 71%);
    --accent: hsl(17, 31%, 64%);
}


html,
body {
    height: 100vh;
    overflow: hidden;
}

body {
    background: var(--background);
    margin: 0;
    padding: 0;
    width: 100%;
}

h1,
h2,
h3,
h4,
p {
    color: var(--text);
}

h1 {
    font-size: xxx-large;
}

h2 {
    font-size: large;
}

h3 {
    // font-size: x-large;
}

h4 {
    font-size: x-small;
}

app-root>* {
    position: relative;

    height: inherit;
    scroll-snap-align: center;
    flex-shrink: 0; // this is the key
    width: 100%;
}

app-root {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth; // TODO maybe
    overflow-y: auto;
    overflow-x: hidden;
}