img {
    position: absolute;
    top: 20px;
    left: 20px;
    height: 64px;
    aspect-ratio: 1;
}

app-scroll-indicator {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}


// On Mobile
@media screen and (max-width: 1024px) {
    #con {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 100px;
        align-items: center;
        margin-top: 20vh;
    }

    #text {}

    #art {
        height: 200px;
        aspect-ratio: 1;
        background-color: blue; // TODO art
    }
}

// On Desktop
@media screen and (min-width: 1024px) {
    #con {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20vh;
    }

    #text {
        height: 400px;
        aspect-ratio: 1;
        margin-left: 10vw;
    }

    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 2rem;
    }

    #art {
        height: 400px;
        aspect-ratio: 1;
        background-color: blue; // TODO art
        margin-right: 10vw;
    }
}